@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme {
  --color-pastel-mint: #D4F0E4;
  --color-pastel-lilac: #E8DFF5;
  --color-pastel-yellow: #FCE1E4;
}

body {
  @apply bg-gray-50 text-slate-800 font-sans antialiased overflow-x-hidden;
}
